<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.mssjim.hidroponia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Hidroponia"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Cadastrar"
            android:label="@string/app_cadastrar"/>
        <activity
            android:name=".activities.Login"
            android:label="@string/app_login"/>
        <activity
            android:name=".activities.Conversas"
            android:label="@string/conversas"
            android:parentActivityName=".activities.Inicio"/>
        <activity
            android:name=".activities.Contatos"
            android:label="@string/app_contatos"
            android:parentActivityName=".activities.Conversas"/>
        <activity
            android:name=".activities.Chat"
            android:parentActivityName=".activities.Inicio" />
        <activity
            android:name=".activities.GroupChat"
            android:parentActivityName=".activities.Inicio" />
        <activity
            android:name=".activities.Profile"
            android:label="Perfil"
            android:parentActivityName=".activities.Inicio"/>
        <activity
            android:name=".activities.Join"
            android:parentActivityName=".activities.Inicio"/>
        <activity
            android:name=".activities.Termos"
            android:label="@string/cb_termos2"/>
        <activity
            android:name=".activities.Update"
            android:label="@string/app_update"
            android:parentActivityName=".activities.Inicio"/>
    </application>


</manifest>